.a {
    background-color: #AFDCE5;
    width: 150px;
    height: 150px;
    border-style: solid;
    border: 3px solid black;
}

.b {
    background-color: #CAE9F5;
    width: 150px;
    height: 150px;
    border-style: solid;
    border: 15px solid black;
    margin-left: 154px;
}

.c {
    background-color: #F0F8FF;
    width: 150px;
    height: 150px;
    border-style: solid;
    border: 3px solid black;
    margin-left: 332px;
}

